table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 6px;
    font-family: Arial;
    font-size: 16px;
    }

thead {
    background-color: #7ea6db;
}

th {
    padding: 10px;
    font-weight: 100;
}

td {
    padding: 8px;
}

td, th {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #9d9a9a3a;
}

tbody tr:hover {
  background-color: #eef2ff;
}

button {
  padding: 10px 18px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

button:hover {
  background-color: #6bbb5b;
  transform: scale(1.1)
}

input {
    margin: 5px
}

.highlight {
  background-color: #f87171 !important; 
  color: white;
  font-weight: bold;
}

